<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create">
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                     
                     <div class="col-md-6" style="display: none" >
                        <div class="form-group" :class="{'has-danger': errors.estado}">
                            <label class="control-label">estado</label>
                            <el-input v-model="form.user_id"></el-input>
                            <small class="form-control-feedback" v-if="errors.estado" v-text="errors.estado[0]"></small>
                        </div>
                    </div> 
                    <div class="col-md-6"> 
                        <div class="form-group" :class="{'has-danger': errors.bank}">
                            <label class="control-label">Bancos/Cajas</label>
                           <el-select v-model="form.banks">
                                <el-option v-for="option in agente" :key="option.id" :value="option.id" :label="option.nombre"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.banks" v-text="errors.banks[0]"></small>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.tipo}">
                            <label class="control-label">Tipo de operacion</label>
                            <el-select v-model="form.tipo">
                                <el-option v-for="option in tipo" :key="option.id" :value="option.id" :label="option.description"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.tipo" v-text="errors.tipo[0]"></small>
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.monto}">
                            <label class="control-label">Monto</label>
                            <el-input v-model="form.monto"></el-input>
                            <small class="form-control-feedback" v-if="errors.monto" v-text="errors.monto[0]"></small>
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.operacion}">
                            <label class="control-label">Numero de Operacion</label>
                            <el-input v-model="form.operacion"></el-input>
                            <small class="form-control-feedback" v-if="errors.operacion" v-text="errors.operacion[0]"></small>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>
 
<script>
 

    export default {
        props: ['showDialog', 'recordId'],
        data() {
            return {
                loading_submit: false,
                titleDialog: null,
                resource: 'agentes', 
                errors: {}, 
                form: {},
                types:[],
                banks:[],
                users:[],
                idagente:[],
                agente: [],
            }
        },
       async created() {
           
               this.$http.get(`/cash/tables`)
                        .then(response => {
                            this.idagente = response.data.idagente
                            this.agente = response.data.agente
                            this.users = response.data.users
                            this.usuario = response.data.usuario
                                this.form.user_id=this.usuario.id
                        })
             this.banks = [{id:'AGENTE 1', description:'AGENTE 1'}, 
             {id:'AGENTE 2', description:'AGENTE 2'},
             {id:'AGENTE 3', description:'AGENTE 3'}]
          
                
            this.tipo = [{id:'deposito', description:'Deposito'}, {id:'retiro', description:'Retiro'}]
            this.initForm() 
        },
        methods: {
            initForm() { 
                this.errors = {} 

                this.form = {
                    id: null,
                    operacion: null, 
                    monto: null,                    
                    banks:null,
                    tipo:null,
                    user_id:null,
                }
            },
            create() {

                this.titleDialog = (this.recordId)? 'Editar operacion':'Nueva operacion'
                if (this.recordId) {
                    this.$http.get(`/${this.resource}/record/${this.recordId}`).then(response => {
                            this.form = response.data
                        })
                } 
            },
            submit() {   
 

                this.loading_submit = true  
                this.$http.post(`${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            this.$eventHub.$emit('reloadData')
                            this.close()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data 
                        } else {
                            console.log(error.response)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
                    
            },  
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            }
        }
    }
</script>