<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>{{ title }}</span></li>
            </ol>
            <div class="right-wrapper pull-right">
                    <button type="button" class="btn btn-custom btn-sm  mt-2 mr-2" @click.prevent="clickCreate()"><i class="fa fa-plus-circle"></i> Nuevo</button>
<button type="button" class="btn btn-custom btn-sm  mt-2 mr-2" @click.prevent="clickCreatea()"><i class="fas fa-shopping-cart"></i> Aperturar de agente</button>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header bg-info">
                <h3 class="my-0">Listado de Movimiento en  {{ title }}</h3>
            </div>
            <div class="card-body">
                <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                          <th>Usuario</th>
                        <th>{{agente1[0].nombre}}</th>
                        <th>{{agente2[0].nombre}}</th>
                        <th>{{agente3[0].nombre}}</th>
                        <th>fecha</th>
                        <th>estado</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }">
                        <td>{{ index }}</td>
                         <td>{{ row.user_id }}</td>
                        <td>{{ row.saldo1 }}</td>
                        <td>{{ row.saldo2 }}</td>
                       <td>{{ row.saldo3 }}</td>
                        <td>{{ row.created_at }}</td>
                       <td><span v-if="row.estado === 1">Activo</span>
                       <span v-if="row.estado === 2">Cerrado</span>
                       </td>
                        <td class="text-right">
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)">Editar</button>
                            <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id)">Eliminar</button>
                       <button type="button" class="btn waves-effect waves-light btn-xs btn-primary" @click.prevent="clickDownload(row.id)">Reporte</button>
                         <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickcerrar(row.id)">Cerrar caja</button>
                        </td>
                    </tr>
                </data-table>
            </div>

            <agente-form 
                :showDialog.sync="showDialog"
                :recordId="recordId"
                    ></agente-form> 
                    <agente-formaper 
                :showDialog.sync="showDialoga"
                :recordId="recordId"
                    ></agente-formaper>
        </div>
    </div>
</template>

<script>

    import AgenteForm from './form.vue' 
      import AgenteFormaper from './formaper.vue' 
    import DataTable from '../../../../../../../resources/js/components/DataTable.vue'
    import {deletable} from '../../../../../../../resources/js/mixins/deletable'

    export default {
        mixins: [deletable],
        components: {DataTable, AgenteForm,AgenteFormaper},
        data() {
            return {
                title: null,
                showDialog: false, 
                showDialoga:false,
                resource: 'cashagente',
                recordId: null,
                recordIda: null,
                 agente1:'',
                 agente2:'',
                 agente3:'',
            }
        },
        created() {

             this.$http.get(`/cash/tables`)
                        .then(response => {
                            
                               this.agente1 = response.data.agente1
                               this.agente2 = response.data.agente2
                               this.agente3 = response.data.agente3
                            
                        })
            this.title = 'Cajas'
        },
        methods: { 
            clickCreate(recordId = null) {
                this.recordId = recordId
                this.showDialog = true
            }, 
             clickCreatea(recordId = null) {
                this.recordId = recordId
                this.showDialoga = true
            }, 
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            clickcerrar(id) {
                this.$http.get(`/${this.resource}/cerrar/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
                      clickDownload(id) {
                window.open(`/cashagente/report/${id}`, '_blank');
            },
        }
    }
</script>
